@font-face {
    font-family:Vazir ;
    src: url(fonts/Vazir-Regular.woff) format(woff);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Vazir;
    direction:rtl;
}
body{
    display:flex;
    padding:0 20px;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background: blueviolet;
}
.wrapper{
    max-width:1130px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.wrapper .card{
    position: relative;
    width: calc(33% - 13px);
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
}
.wrapper .card img{
    width:  100%;
    border: radius 3px; 
    transition: all 0.3s ease;
}
.wrapper .card:hover img{
    transform: scale(1.1);
}
.wrapper .card .content{
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: -50%;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba( 0,0,0,0.15);
    transition: all 0.3s ease;
}
.wrapper .card:hover .content{
    bottom: 0;
}
.card .content .row,
.card .content .buttons{
    display: flex;
    justify-content: space-between;
}
.content .row .details span{
    font-size: 22px;
    font-weight: 500;
}
.content .row .details p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
}
.content .row .price{
    color: #8a2be2;
    font-size: 16px;
    font-weight: 600;
}
.content .buttons{
    margin-top: 20px;
}
.content .buttons button{
    width:45%;
    outline: none;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #8a2be2;
    cursor: pointer;
    text-transform: uppercase; 
    transition: all 0.3s ease;
}
.buttons button:first-child{
    color: #8a2be2;
    background: #fff;
    margin-right: 10px;
}
button:first-child:hover{
    color: #fff;
    background: #8a2be2;
}
.buttons button:last-child{
    color: #fff;
    background: #8a2be2;
    margin-left: 10px;
}
button:last-child:hover{
    background: #8307f7;
    border-color:#8307f7 ;
}

.fasfa-shopping-card{
    display: inline-block;
    background: url(cart.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}